body {
    background-color: lightgrey;
}
#menu {
    height: 40px;
    cursor: pointer;
}
nav {
    width: 150px;
}
.colorChanger {
    position: static;
    list-style-type: none;
    width: 0;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    transition: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.colorChanger li {
    width: 125px;
    border: 2px solid lightgrey;
    padding: 10px;
    cursor: pointer;
}
.colorChanger li:hover {
    opacity: 0.6;
}
.redBackgroundColor {
    background-color: red;
}
.orangeBackgroundColor {
    background-color: orange;
}
.yellowBackgroundColor {
    background-color: yellow;
}
.greenBackgroundColor {
    background-color: green;
}
.blueBackgroundColor {
    background-color: blue;
}
.purpleBackgroundColor {
    background-color: purple;
}
.show {
    width: 150px;
}
div {
    width: 400px;
    font-size: 50px;
    margin: 0 auto;
}
.info {
    width: 550px;
    font-size: 24px;
    margin: 20px auto;
}
.smallerdiv {
    width: 175px;
}
